<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Chat</title>
      <link rel="stylesheet" href="/style.css">

</head>
<body>
  <h1>New Chat</h1>
  <form method="post" action="/chats">
      <div class="newChat">
         <input placeholder="From" name="from"><br><br>
          <input placeholder="To" name="to"><br><br>
          <textarea placeholder="Message" name="msg" rows="5" cols="20"></textarea><br><br>
          <button id="send">Send</button>
      </div>
  </form>
</body>
</html>


